@media print {
  @page {
    size: 5.5in 8.5in;
    margin: 31px;
  }

  h2 {
    page-break-before: avoid;
  }

  .name {
    font-size: 20px !important;
  }

  .position {
    font-size: 13px;
  }

  h3 {
    font-size: 13px !important;
  }

  h2 {
    font-size: 13.5px !important;
  }

  h4,
  li {
    font-size: 12px !important;
  }

  p {
    font-size: 11px !important;
  }

  /* body {
    margin: 20px;
  } */
}
