body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 14px;
  line-height: 1.48;
}

.resume-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 30px;
}

.info-sidebar,
#resume-content {
  padding-top: 15px;
}

.info-sidebar > div {
  margin-bottom: 30px;
}
